# OSX
#
.DS_Store

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
.nyc_output/
coverage/
package-lock.json

# .env
.env
/src/server/config/*

# eslint
.eslintrc.json